# 外部源码仓库
/ardupilot-usv/
/WQ-USV-QGroundControl/
/src/
/reference/
/MotorControlApp_Pyside6/
/docs/CGEDC/

# 工作区构建产物
/src/CMakeLists.txt
/.catkin_workspace
/build/
/devel/
/log/
/.usv_run/
/ardurover.apj

# IDE / Tooling
/.augment/
/.devcontainer/
/.vscode/
/.idea/
Thumbs.db
.DS_Store
