# 外部源码仓库
/ardupilot-usv/
/WQ-USV-QGroundControl/
/src/
/reference/
/MotorControlApp_Pyside6/
/DetFirmware/
/docs/CGEDC/
/.worktrees/


# 工作区构建产物
/src/CMakeLists.txt
/.catkin_workspace
/build/
/devel/
/log/
/.usv_run/
/ardurover.apj

# IDE / Tooling
/.augment/
/.omo/
/.sisyphus/
/.devcontainer/
/.vscode/
/.idea/
Thumbs.db
.DS_Store

# 地图资源/离线瓦片包
/usv_map_*.tar
